<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Depodorde - O pequeno motor de busca brasileiro</title>
</head>
<body>
    <img src="/assets/img/depodorde.png" draggable="false">
    <form action="post" target="">
        <input type="text">
        <button type="submit">Buscar</button>
    </form>
</body>
</html>